.featured-work-title {
  padding: 1rem;
}

.b--red {
  border-color: #99211d;
}

.hover-dark-red:hover {
  color: #99211d
}

.button:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-btn {
  border: 0;
  box-shadow: none;
  background-color: white;
  cursor: pointer;
}

.modal-btn:hover{
  color: #555;
}